.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
build/*
!build/
!build/image_converter.spec
dist/
*.spec
!build/image_converter.spec
*.log
.runtime/
*.egg-info/
